<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add ||</title>
</head>
<body>
    <div class="form-container">
        <form action="addP" method="post">
            <div class="Add-name">
                <span class="Snamw">Nombre: </span>
                <input type="text" name="name" id="Addname">
            </div>
            <div class="Add-surname">
                <span class="Ssurn">Apellido: </span>
                <input type="text" name="surname" id="AddSurn">
            </div>
            <div class="Add-dni">
                <span class="Sdni">DNI: </span>
                <input type="number" name="dni" id="Adddni">
            </div>
        </form>
    </div>
</body>
</html>